[submodule "libs/axi"]
	path = libs/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "libs/apb"]
	path = libs/apb
	url = https://github.com/pulp-platform/apb.git
[submodule "libs/common_cells"]
	path = libs/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "libs/common_verification"]
	path = libs/common_verification
	url = https://github.com/pulp-platform/common_verification.git
[submodule "examples/coremark/coremark"]
	path = examples/coremark/coremark
	url = https://github.com/eembc/coremark.git
[submodule "libs/cv32e40p"]
	path = libs/cv32e40p
	url = https://github.com/openhwgroup/cv32e40p.git
[submodule "libs/ibex"]
	path = libs/ibex
	url = https://github.com/lowRISC/ibex.git
