**/build/
**/work/
**/__pycache__
**/.*/
**/main.py
**/*.wav
**/*.str
venv/
**/*.svf
**/*.log
**/output.txt
**/powerflow/reports/
**/powerflow/src/
sim/scripts/vsim.wlf
sim/scripts/transcript
sim/scripts/modelsim.ini
