**/build/
**/work/
**/__pycache__
**/.*/
**/main.py
**/*.wav
**/*.str
venv/
**/*.svf
**/*.log
**/output.txt
**/powerflow/reports/
**/powerflow/src/
**/powerflow/scripts/*.csv
**/powerflow/scripts/*.out
sim/scripts/vsim.wlf
sim/scripts/transcript
sim/scripts/modelsim.ini
sim/scripts/adam_ps.vcd
rtl/instr_rom.sv
